body {
	padding: 20px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 150px 160px 150px 190px 135px;
	grid-gap: 10px;
	justify-items: stretch;
}
.item1 {
	background: no-repeat url(http://via.placeholder.com/600x150/AFDFBF/606666) center center;
	grid-column: span 6;
	background-size: cover;
}
.item2 {
	background: no-repeat url(http://via.placeholder.com/600x150/68C5B8/5E6364) center center;
	grid-column: span 6;
	background-size: cover;
}
.item3 {
	background: no-repeat url(http://via.placeholder.com/600x320/FA688A/ffffff) center center;
	grid-area: 2 / 1 / 4 / 7;
	background-size: cover;
}
.item4 {
	background: no-repeat url(http://via.placeholder.com/200x165/8A95EF/ffffff) center center;
	grid-column: span 2;
	background-size: cover;
}
.item5 {
	background: no-repeat url(http://via.placeholder.com/300x150/FFC569/606666) center center;
	grid-column: span 3;
	background-size: cover;
}
.item6 {
	background: no-repeat url(http://via.placeholder.com/400x185/588CC7/ffffff) center center;
	grid-column: span 4;
	background-size: cover;
}
.item7 {
	background: no-repeat url(http://via.placeholder.com/200x195/588CC7/ffffff) center center;
	grid-column: span 2;
	background-size: cover;
}
.item8 {
	background: no-repeat url(http://via.placeholder.com/200x145/6652AD/ffffff) center center;
	grid-column: span 2;
	background-size: cover;
}
.item9 {
	background: no-repeat url(http://via.placeholder.com/600x135/6652AD/ffffff) center center;
	grid-column: span 6;
	background-size: cover;
}
.item10 {
	background: no-repeat url(http://via.placeholder.com/400x135/6652AD/ffffff) center center;
	grid-column: span 4;
	background-size: cover;
}
