@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900|Roboto:300,400,700,900');

*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body{
    background: #eeeeee;
    font: 18px/24px 'Raleway', sans-serif;
    color: #303030;
}

.wrap {
    width: 1200px;
    margin: 0px auto;
}

.header {
    padding: 50px 0;
	background: no-repeat radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 50%);
    background-position: 200px 0;
}

.nav-main {
    font-size: 0;

}

.nav-main-links a {
    font: 18px/1 Roboto, sans-serif;
    letter-spacing: .025em;
    color: #303030;
    text-decoration: none;
    margin-right: 50px;
}

.nav-main-links,
.nav-main-logo {
    width: 50%;
    display: inline-block;
}

.nav-main-links{
    text-align: right;
}

.menu {
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url(../img/Menu.png)
}

.slider_content {
	display: inline-block;

}

.slider_text {
	display: inline-block;
	width: 630px;
	height: 480px;
	vertical-align: top;
}

.slider_text h1 {
	font-weight: 900;
	font-size: 150px;
	line-height: 150px;
	text-align: right;
	margin: 0 0 50px 0;
}

.slider_text p {
	font: 24px/36px Roboto, sans-serif;
	font-weight: 300;
	text-align: right;
}

.slider-image {
	display: inline-block;
	vertical-align: top;
	margin: 0 100px 0 100px;
}

.slider_content {
	margin: 100px auto 0 auto;

}

.slider_point {
	text-align: center;
	margin: 80px;
}
.point {
	display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background: black;
}

.point_red {
    background: red;
}

.product {
    background: white;
    border-radius: 5px;
    padding: 70px 63px;
    font-size: 0px;
}

.product-title {
	color: #303030;
	text-align: center;
	margin: 54px 0 78px 0;
}

.product-title h2 {
	font-size: 48px;
	font-weight: 900;
}

.product-title p {
	font-size: 18px;
}

.product-title img {
		margin: 20px 0 12px 0;
}

.product-item {
    width: 328px;
    height: 387px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin: 0 15px;
    background: #eeeeee;
    cursor: pointer;
}

.product-item-strong {
    width: 686px;
}

.product-item:nth-child(1) .product-image {
    margin: -75px -95px;
}
.product-item:nth-child(2) .product-image {
    margin: -75px 45px;
}
.product-item:nth-child(3) .product-image {
    margin: 12px -10px;
}
.product-item:nth-child(4) .product-image {
    margin: 0px -350px;
}
.product-item:nth-child(5) .product-image {
    margin: -20px -110px;
}

.product-image {
    transition: all .5s;
}

.product-overlay {
    display: none;
    width: inherit;
    height: inherit;
    background: #e10011;
 	color: white;
    font: 900 30px/1 Roboto, sans-serif;
    padding: 250px 50px 10px 10px;
}

.product-item:hover .product-overlay {
    display: block;
}

.product-item:hover .product-image {
    display: none;
    /*transform: scale(1.05);*/
}

.subscribe {
    background: white;
    border-radius: 100px;
    width: 715px;
    margin: 10px auto;
    height: 70px;
    /* overflow: hidden; */
}

.subscribe-button {
    background: red;
    color: white;
    font: 18px/1 Roboto, sans-serif;
    text-transform: uppercase;
    border: 0;
    height: 100%;
    width: 215px;
    border-radius: 0 100px 100px 0;
}

.subscribe-form {
    height: 100%;
    font-size: 0;
}

.subscribe-input {
    width: 400px;
    border: 0;
    height: 100%;
    margin-left: 100px;
    vertical-align: top;
    font-size: 18px;
}

.footer {
	text-align: center;
}

.footer h2 {
	font-weight: 900;
	 font-size: 48px;
	 margin: 100px 0 10px 0;
}

.footer span {
	display: inline-block;
	font-size: 18px;
	margin: 30px 0 20px 0;
}

.social__link {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 65px 10px 65px 10px;
    background: #ffffff no-repeat;
}

.social__link i {
	margin: 15px;   /* auto*/
	font-size: 34px;
	color: #979797;

}
