html {
    background: black;
}

body {
    background: #3B3F45;
    height: 90vh;
    border: 5vh solid white;
    margin: 10 120px;
  }

header, .bottom {
    background: #4A4F56;
    color: #EB7E7F;
    text-align: center;
    padding: 10px 0;
    font-family: sans-serif MS;
}

ul {
    color: white;
    list-style: none;
    background: #88839E;
    width: 60%;
    margin: 20px auto;
    padding: 0;
    font-size: 20px;
}

input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

li {
    background: #88839E;
    line-height: 20px;
    
}

li::before,
li::after {
  background: white;
  height: 5px;
  content: '';
  opacity: 0;
  display: block;
}

li:nth-child(2n) {
    background: #7A7593;
  }

li:active {
    background: #625E77;
}

input:checked + span {
    text-decoration: line-through;
    color: white;
}

li:hover::before,
li:hover::after {
  opacity: 1;
}

span > span {
    font-size: 10px;
    line-height: 10px;
    vertical-align:middle;
}

span > span::before {
    content: '(';
}
span > span::after {
    content: ')';
}

ol,
::before,
::after {
    transition: opacity 1s ease-in, color 1s ease-in;
}

.bottom {
    color: #B86F72;
    background: #4A4F56;
    width: 60%;
    margin: 20px auto;
    font-size: 20px;
    font-family: sans-serif MS;
    line-height: 50px;
    text-align: center;
    padding: 10px 0;
}

.bottom {
    width: 60%;
    margin: 20px auto;
    font-size: 20px;
    line-height: 50px;
}