@font-face {
    font-family: 'lato';
    src: url('../fonts/latoregular-webfont.woff2') format('woff2'),
         url('../fonts/latoregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'big_john';
    src: url('../fonts/big_john-webfont.woff2') format('woff2'),
         url('../fonts/big_john-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'slim_joe';
    src: url('../fonts/slim_joe-webfont.woff2') format('woff2'),
         url('../fonts/slim_joe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/latobold-webfont.woff2') format('woff2'),
         url('../fonts/latobold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/*_____________________________________________*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.wrap {
    background: url(../img/computer.jpg);
    /*opacity: 0.14;*/
    height: 652px;
    background-size: cover;
    padding: 3% 10%;
    background-position: center;
}

.nav-main {
    font-size: 0;
}

.nav-main-links,
.nav-main-logo {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.main-link {
    font-size: 16px;
    font-family: Lato;
    font-weight: 700;
    color: white;
    text-decoration: none;
    margin-right: 5%;
}

.main-link_last {
    margin-right: 0;
}

.nav-main-links{
    text-align: right;
}

.main-link__after::after {
    content: "/";
    color: white;
    margin-left: 5%;
    opacity: .5;
}

.title {
    margin: 150px auto 40px auto;
    text-align: center;
}

.header_title {
    font: 400 46px "big_john";
    text-transform: uppercase;
    color: white;
}

.title_text {
    font: 400 30px slim_joe;
    text-transform: uppercase;
    color: white;
}

.form-button {
    text-align: center;
}

.button {
    background-color: transparent;
    color: #48bf72;
    border: 3px solid #48bf72;
    height: 37px;
    width: 137px;
    font: 700 14px 'lato';
    border-radius: 3px;
}

/*________________________________________________*/

.product {
    text-align: center;
}

.products-title {
	color: #303030;
	margin: 54px 0 44px 0;
    font-size: 0px;
}

.product-title {
    display: inline-block;
    background-color: #eaeaea;
    margin: 0 7px;
    color: #3c4955;
    font: 700 16px/20px "Lato";
    text-decoration: none;
    padding: 5px;
}

.product-title:hover {
    background-color: #48bf72;
    color: white;
}

.items {
    vertical-align: top;
    font-size: 0;
    margin: 0 auto 80px auto;
    width: 1140px;
}

.product-item {
    vertical-align: top;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    margin: 10px 10px;
    cursor: pointer;
}

.product-item__size1 {
    width: 450px;
    height: 302px;
    float: left;
}

.product-item__size2 {
    width: 650px;
    height: 437px;
    float: right;
}
.product-item__size3 {
    width: 450px;
    height: 487px;
    position: relative;
    float: left;
}
.product-item__size4 {
    width: 650px;
    height: 351px;
    float: right;
}
.product-image1 {
    margin: -30px -90px;
}
.product-image3 {
    margin: 0px -150px;
}
.product-image4 {
    margin: -30px -90px;
}
.product-image {
    transition: all .5s;
}

.product-overlay {
    width: inherit;
    height: inherit;
    background: #48bf72;
    color: white;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
}

.product-item__size3:hover .product-overlay{
    display: none;
}

.product-overlay--h {
    margin-top: 215px;
    font: 700 30px "Lato";
}

.product-overlay--p {
    font: 400 14px/24px "Lato";
}

/*_________________________________*/

.dupont {
    background: url(../img/men-computer.jpg);
    height: 500px;
    background-position: center;
}

.dupont__text {
    display: block;
    width: 418px;
    margin-left: 50%;
    padding-top: 90px;
    color: white;
    font: 16px/1.5 "Lato";
    text-align: left;
}

.dupont__name {
    font-size: 30px;
}

.form-button--left {
    text-align: left;
    margin-top: 44px;
}

.button_black {
    color: #3c4955;
    border: 3px solid #3c4955;
}

/*_________________________________*/

.contacter {
    position: relative;
    height: 565px;
}

.contacter__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacter__title {
    font-family: "big_john";
    font-size: 26px;
    color: #48bf72;
    text-align: center;
    margin-bottom: 35px;
}

.form {
    font-size: 0;
}

.form__input {
    display: inline-block;
    width: 285px;
    height: 50px;
    border: 2px solid #3c4955;
    border-radius: 0 7px 7px  0;
    background-color: #f1f1f1;
    color: #bfbebe;
    box-sizing: border-box;
    font: 700 16px "Lato";
    padding-left: 22px;
}

.form__input_nom, .form__input_email, .form__input_textarea  {
    display: inline-block;
    position: relative;
    margin: 15px;
}

.form__input_nom::before,
.form__input_email::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: top;
    border-radius: 7px 0 0 7px;
}

.form__input_nom::before {
    background: no-repeat url(../img/user.png) 15px 15px #3c4955;
}

.form__input_email::before {
    background: no-repeat url(../img/mail.png) 15px 15px #3c4955;
}

.form__input_textarea::before {
    content: '';
    display: inline-block;
    background: no-repeat url(../img/crayon.png) 15px 15px #3c4955;
    width: 50px;
    height: 200px;
    vertical-align: top;
    border-radius: 7px 0 0 7px;
}

.form__input_nom::after,
.form__input_email::after,
.form__input_textarea::after {
    content: '';
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent #3c4955;
    width: 0;
    height: 0;
    left: 52px;
    top: 20px;
    position: absolute;
}

.form__textarea__size {
    width: 650px;
    height: 200px;
    resize: none;
    padding-top: 15px;
}

.button_contacter {
    border-radius: 3px;
    background-color: #48bf72;
    height: 50px;
    width: 700px;
    font-size: 14px;
    font-family: "Lato";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
    letter-spacing: 5px;
}
/*_______________________________________*/

.footer {
    background: #3c4955;
    height: 200px;
    font-size: 0;
    position: relative;
}

.footer_content {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.copyright {
    display: inline-block;
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    font-family: "lato";
    color: white;
    line-height: 60px;
}

.social {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.social__link {
    display: inline-block;
    width: 50px;
    height: 60px;
    margin: 0 20px;
    vertical-align: middle;
    background-position: center;
}

.social__link_Twitter {
    background: no-repeat url(../img/Twitter.png);
}

.social__link_LinkedIn {
    background: no-repeat url(../img/LinkedIn.png);
}

.social__link_Dribbble {
    background: no-repeat url(../img/Dribbble.png);
}

.social__link_Behance {
    background: no-repeat url(../img/Behance.png);
}
