h1{

text-decoration: underline;
}

body{
	background: black;
	color: white;
	font-size: 16px;
	margin: 50px;
}
.strong
{
font-weight: bold;
}
img{
    width:200px;
float:left;
margin-right: 20px;
 }
.wrapper {
/*overflow:hidden;*/
columns: 2;
}


