@import "slick";

@font_header: 'Proxima Nova', sans-serif;
@font_primary: 'PT Sans', sans-serif;

@color_primary-light: #fff;
@color_primary-dark: #665f60;
@color_transparent: trasparent;

@background_color: #9f9acf;
@background_color-light: #ebebeb;

*,
::before,
::after {
	padding: 0;
	marging: 0;
	box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: @font_primary;
  color: @color_primary-dark;
  font-size: 18px;
  background-color: @background_color-light;
}

/*------------------header--------------------------------*/

.header {
	background: @background_color url("../img/header-bg.png") 50% no-repeat;
	min-height: 1070px;
	background-size: cover;
	padding-top: 36px; //
	width: 100%;
	font-family: @font_header;
  	color: @color_primary-light;
	position: relative;
 	&__nav {
 		width: 100%;
 		margin: 0 auto;
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 		min-height: 72px;
		position: absolute;
		top: 36px;
		right: 0;
		z-index: 100;
		padding: 0 10%;
		&-logo {
			align-self: flex-start;
			transition: all 1s ease-out;
		    &:hover path {
  				//fill: darken(@background_color-light, 10%);
  				transform: scale(1.02);
      			box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
        		transition: all 0.3s ease-out;
    			opacity: 0.5;
			}
		}
	}
	&__menu {
		display: flex;
		justify-content: flex-end;
		@media (min-width: 900px) {
  			display: flex;
		}
		@media (max-width: 900px) {
  			display: block;
			padding-top: 20px;
		}
		&-item{
			@media (min-width: 900px) {
  				display: none;
			}
			@media (max-width: 900px) {
  			    margin-bottom: 10px;
      			text-align: right;
      			display: block;
			}
		}
	}
	&__link {
	    border-bottom: 4px solid @color_transparent;
		line-height: 12px;
		margin: 0 4% 0 0;
		cursor: pointer;
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		color: @color_primary-light;
		padding: 15px 5px;
		display: none;
	    &:hover {
	   		border-bottom: 4px solid @color_transparent;
	      	transform: scale(1.05);
 		   	opacity: 0.5;
	    }
	    &-active {
	     	border-bottom: 4px solid @color_primary-light;
	    }
		@media (min-width: 900px) {
  			display: block;
		}
	}
	&__info {
		text-align: center;
		padding: 307px 10px 10px;
		margin: 0 auto;
	}
	&__title {
		font-family: @font_header;
		font-size: 72.77px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 10px;
		animation-delay: 0.5s;
		@media (max-width: 540px) {
  			font-size: 50px;
		}
	}
	&__descriptionr {
	    font-family: @font_primary;
	    font-size: 30px;
	    font-style: italic;
	    margin-top: 5px;
	    animation-duration: 0.8s;
	    animation-delay: 1s;
	    @media (max-width: 540px) {
  			font-size: 24px;
		}
	}
}

@media (max-width: 900px) {
  	.header__menu._header__menu-open {
    	.header__link {
      		display: block;
      		margin-right: 70px;
    	}
	}
}

#nav.fixed {
    position: fixed;
    top: 0;
	right: 0;
    width: 100%;
    background:  #B6AFCA;
    padding: 0 10%;
}

/*------------------------------------------*/

#hamburger {
	float: right;
	width: 45px;
	height: 30px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;

	span {
	display: block;
	position: absolute;
	height: 3px;
	width: 45px;
	background: @color_primary-light;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	}
	span:nth-child(1) {
	top: 0;
}

	span:nth-child(2),#hamburger span:nth-child(3) {
	top: 14px;
}

	span:nth-child(4) {
	top: 27px;
}

	._hamburger-open span:nth-child(1) {
	top: 14px;
	width: 0;
	left: 50%;
}

	._hamburger-open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

	._hamburger-open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

	._hamburger-open span:nth-child(4) {
	top: 14px;
	width: 0;
	left: 50%;
}

}

#hamburger span:nth-child(1) {
	top: 0;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
	top: 14px;
}

#hamburger span:nth-child(4) {
	top: 27px;
}

#hamburger._hamburger-open span:nth-child(1) {
	top: 14px;
	width: 0;
	left: 50%;
}

#hamburger._hamburger-open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#hamburger._hamburger-open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#hamburger._hamburger-open span:nth-child(4) {
	top: 14px;
	width: 0;
	left: 50%;
}

/*-----------------------------------------------*/

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 15px;
	&__header_icon {
    	margin: 0 auto;
	}
	&__header_title {
    text-align: center;
    color: #fff;
    font-family: @font_header;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
	}
}
.btn {
    display: block;
    width: 195px;
    height: 50px;
    border: 1px solid;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    margin: 0 auto;
    &:hover {
      	transform: scale(1.1);
      	box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
        transition: all 0.3s ease-out;
    	opacity: 0.5;
	}
}

/*-------------------about-----------------------*/

.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 555px;
	@media all and (max-width: 1120px) {
		justify-content: center;
	}
	&__banner {
		background: @background_color url(../img/about-us.png) 50% no-repeat;
    	background-size: cover;
    	width: 380px;
    	height: 555px;
	}
	&__header {
		padding: 75px 10px 10px;
	}
	&__icon {
		background: url("../img/icon-aboutus.png") 50% no-repeat;
	    width: 50px;
    	height: 54px;
	}
	&__title {
		padding: 40px;
		margin-top: 0;
	}
	&__description{
    max-width: 670px;
    padding-top: 60px;
  	}
  	&__text{
    font-size: 20px;
 	}
  	&__btn{
    border-color: #7d7a7c;
    color: #7d7a7c;
    margin-top: 80px;
  	}
}

/*-------------------end about-----------------------*/

/*-------------------services-----------------------*/

.services {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 800px;
	padding-top: 7px;
	padding-bottom: 0;
    &__items {
    	width: 760px;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    }
	&__item {
		max-width: 380px;
		flex: 1 1 380px;
		height: 400px;
		text-align: center;
		padding: 100px 10px 10px;
		transition: transform 0.25s;
    	&-design{
      		background-color: #dbdbdb;
      		@media all and (max-width: 806px) {
    			order: 1;
    		}
    	}
    	&-mobile{
      		background-color: #dbdbdb;
      		@media all and (max-width: 806px) {
    			order: 3;
    		}
    	}
    	&-seo {
      		background-color: @background_color-light;
      		@media all and (max-width: 806px) {
    			order: 2;
    		}
    	}
    	&-web {
      		background-color: @background_color-light;
      		@media all and (max-width: 806px) {
    			order: 4;
    		}
    	}
    	&-icon {
    		margin: 0 auto;
    		&-design{
		        background: url("../img/icon-graphic.png") 50% no-repeat;
		        width: 47px;
		        height: 61px;
		    }
		    &-web{
		        background: url("../img/icon-web.png") 50% no-repeat;
		        width: 58px;
		        height: 59px;
		    }

		    &-seo{
		        background: url("../img/icon-seo.png") 50% no-repeat;
		        width: 50px;
		        height: 61px;
		    }

		    &-mobile{
		        background: url("../img/icon-mobile.png") 50% no-repeat;
		        width: 36px;
		        height: 61px;
		    }
		}
		&-header {
			padding: 30px 0 20px;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}
		&-text {
			font-style: italic;
		}
		&:hover {
      		transform: scale(1.02);
      		box-shadow: 1px 1px 3px rgba(0, 0, 0, .8)
      		;

      	box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
        transition: all 0.3s ease-out;
    	opacity: 0.9;
		}
    }
    &__banner {
    	max-width: 760px;
    	flex-basis: 410px;
    	flex-grow: 1;
    	background: @background_color url("../img/service.png") 50% no-repeat;
    	background-size: cover;
    	transition: transform 0.25s;
    	@media all and (max-width: 1215px) {
    		order: -1;
    	}
    }
    &__header {
    	padding: 115px 10px 85px;
    }
	&__icon{
	    background: url("../img/icon-services.png") 50% no-repeat;
	    width: 62px;
	    height: 60px;
	    margin: 0 auto;
  	}
	&__description{
	    text-align: center;
	    color: @color_primary-light;
	}
	&__blockquote{
	    font-style: italic;
	    margin: 0;
	    &-author{
	        font-weight: 700;
	        padding-bottom: 50px;
	      	margin: 0;
	    }
  	}
}

/*------------------works----------------------*/

.works {
	background: @background_color url("../img/works-bg.png") 50% no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 1000px;
	color: @color_primary-light;
	overflow: hidden;
    padding-bottom: 50px;
    padding-top: 0;
 	&__header {
    	padding: 50px 10px 40px;
  	}
  	&__icon {
    	background: url("../img/icon-works.png") 50% no-repeat;
    	width: 40px;
    	height: 60px;
  	}
  	&-slider{
    	margin: 0 auto;
    	max-width: 1300px;
    	padding: 0 15px;
    	position: relative;
  	}
  	&__item {
    	justify-content: center;
  	}
  	&__img {
  		margin: 0 auto;
  	}
  	&__btn {
	    border-color: @color_primary-light;
	    color: @color_primary-light;
	    margin-top: 95px;
  	}
}

/*Dots for slick*/

.slick-dotted.slick-slider
{
	margin-bottom: 0;
}
.slick-dots
{
	position: absolute;
	bottom: -55px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li
{
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button
{
	font-size: 0;
	line-height: 0;
	display: block;
	width: 10px;
	height: 10px;
	cursor: pointer;
	color: transparent;
	border: 2px solid @background_color-light;
	border-radius: 50%;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	background-color: @background_color-light;
	outline: none;
}
.slick-dots li.slick-active button
{
	background-color: @background_color-light;
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	cursor: pointer;
	background: transparent;
	color: transparent;
	transform: translateY(-50%);
	top: 50%;
	padding: 0;
	border: none;
	outline: none;
	&:hover{
    	outline: none;
  	}
}
.slick-prev {
	background: url("../img/interface---arrow-left.svg") 50% no-repeat;
	z-index: 2;
}
.slick-next {
	background: url("../img/interface---arrow-right.svg") 50% no-repeat;
	right: 15px;
}
.slick-prev:hover {
	background:#B6AFCA url("../img/interface---arrow-left.svg") 50% no-repeat;
	z-index: 2;
}
.slick-next:hover {
	background:#B6AFCA url("../img/interface---arrow-right.svg") 50% no-repeat;
}

/*------------------end works----------------------*/

/*------------------team----------------------*/


.team {
	padding-bottom: 10px;
  	&__header {
    padding: 50px 10px 0;
  	}
	&__icon {
	    background: url("../img/icon-team.png") 50% no-repeat;
	    width: 60px;
	    height: 60px;
	}
	&__title{
		color: @color_primary-dark;
  	}
	&__member {
	    width: 380px;
	    min-height: 430px;
	    padding: 70px 15px 0;
	    margin-top: 70px;
	    &__wrapper {
			width: 100%;
	    	background-color: @color_primary-light;
	    	position: relative;
		}
		&-photo {
			position: absolute;
			border-radius: 50%;
			border: 13px solid @background_color-light;
			transform: translate(-50%, -50%);
			left: 50%;
			height: 255px;
			width: 255px;
   		}
	   	&-info{
	      	padding-top: 165px;
	      	text-align: center;
		}
    	&-name {
			color: @background_color;
			font-family: @font_header;
			font-size: 24px;
			font-weight: 800;
			text-transform: uppercase;
			padding-bottom: 0px;
    	}
    	&-occupation {
			font-size: 24px;
			font-style: italic;
			padding-bottom: 0px;
    	}
		&-social-links {
			width: 100%;
			height: 70px;
			background-color: @background_color;
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
  	&-slider {
	    margin: 0 auto;
	    max-width: 1140px;
	    padding: 97px 15px 0;
	    position: relative;
	    top: -90px;
  	}
}

/* Arrows */

.team-slider {
    & .slick-prev {
    	top: 68%;
    	//left: -5%;
    	background: url("../img/interface---arrow-left--dark.svg") 50% no-repeat;
      	&:hover {
			background:#B6AFCA url("../img/interface---arrow-left.svg") 50% no-repeat;
		}
    }
    & .slick-next {
    	background: url("../img/interface---arrow-right--dark.svg") 50% no-repeat;
    	top: 68%;
    	&:hover {
			background:#B6AFCA url("../img/interface---arrow-right.svg") 50% no-repeat;
		}
    }
}
/*------------------end team----------------------*/

// /*------------------social-link----------------------*/

.social-link {
	display: block;
	margin: 0 12.5px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	&-behance {
		background-image: url("../img/behance.svg");
	}
	&-linkedin {
		background-image: url("../img/linked-in.svg");
	}
	&-google {
		background-image: url("../img/google.svg");
	}
	&-facebook {
		background-image: url("../img/facebook.svg");
	}
	&-twitter {
		background-image: url("../img/twitter.svg");
	}
    &:hover {
      	transform: scale(1.2);
      	box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
        transition: all 0.3s ease-out;
    	opacity: 0.5;
	}
}

/*------------------ end social-link----------------------*/


/*-------------------contact------------------------*/

#map {
	width: 100%;
	min-height: 900px;
	@media (max-width: 570px) {
		min-height: 1000px;
	}
}

.contact {
  position: relative;
  overflow: hidden;
	&__main {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(159,154,207,.5);
	}
	&__header {
    	padding: 56px 10px 0;
  	}
	&__icon {
    	background: url("../img/contact.png") 50% no-repeat;
    	width: 42px;
    	height: 60px;
  	}
	&__forms{
	    max-width: 880px;
	    margin: 0 auto;
	    padding: 35px 10px 10px;
		}
	&__input-wrap {
    	display: flex;
    	justify-content: space-between;
    	flex-wrap: wrap;
    	@media (max-width: 570px) {
    		flex-direction: column;
    	}
  	}
	&__input {
		border-radius: 4px 3px 3px 4px;
		background-color: hsla(0,0%,92%,.5);
		flex-grow: 1;
		outline: none;
		border: none;
		padding: 0 25px;
		margin-bottom: 38px;
		font-style: italic;
	    &:focus {
    	background-color: @background_color-light;
    	}
    	&:hover {
    	border: 2px solid @background_color-light;
    	}
		&-first-row {
			height: 56px;
			&:first-child{
        		margin-right: 32px;
        		@media (max-width: 570px) {
        			margin-right: 0;
        		}
     		}
		}
	    &-text-area{
	        width: 100%;
	        max-height: 200px;
	        padding-top: 25px;
	    }
	}

	&__info{
		margin-top: 35px;
		&-block {
			background-color: hsla(0,0%,100%,.5);
			width: 348px;
			height: 91px;
			transition: 0.7s;
			left: ~'calc(100% - 91px)';
			display: flex;
			position: relative;
			@media (max-width: 365px) {
				width: 275px;
				font-size: 16px;
			}
			&:hover {
				left: ~'calc(100% - 348px)';
				@media (max-width: 365px) {
				left: ~'calc(100% - 270px)';
				}
			}
		}
		&-img {
			width: 91px;
			height: 91px;
			background-color: @background_color;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-text {
			flex-grow: 1;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
		}
	}
	&__btn {
		display: block;
		width: 293px;
		height: 70px;
		border-radius: 4px;
		background-color: @background_color;
		color: @background_color-light;
		font: 700 20px/26px @font_header;
		text-transform: uppercase;
		border: none;
		border-bottom: 4px solid #8783b0;
		text-align: center;
		vertical-align: middle;
		margin: 0 auto;
		@media (max-width: 570px) {
			width: 50%;
		}
		&:hover {
      		transform: scale(1.01);
      		box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
		}
	}
}

::-webkit-input-placeholder {color:@color_primary-light;}
::-moz-placeholder          {color:@color_primary-light;}/* Firefox 19+ */
:-moz-placeholder           {color:@color_primary-light;}/* Firefox 18- */
:-ms-input-placeholder      {color:@color_primary-light;}

@keyframes translateY {
  100% {-o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);}
}
	.scroll-up {
		width: 84px;
		height: 84px;
		position: absolute;
		right: 130px;
		bottom: 45px;
		display: block;
		transition: 0.25s;
		background:  #B6AFCA url("../img/interface---arrow-top-.png") 50% no-repeat;
		opacity: 0.8;
		//transition: all 0.5s ease-in-out;
		animation: translateY 2s linear infinite;
		@media (max-width: 840px) {
			right: 10%;
		}
		@media (max-width: 560px) {
			width: 50px;
			height: 50px;
			right: 10%;
		}
	&:hover {
		background:  #B6AFCA url("../img/interface---arrow-top-.png") 50% no-repeat;
		opacity: 1;
	}
}

/*------------------- end contact------------------------*/

.footer{
	background: @background_color;
	padding: 5% 8%;
	height: 185px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	color: @color_primary-light;
	text-align: center;
	@media all and (max-width: 665px) {
		justify-content: center;
	}
	&__social-links{
		display: flex;
  	}
}


/*Slick - flex*/
.slick-initialized .slick-slide{
  display: flex;
  outline: none;
}


@media (max-width: 365px) {
  .ba-social-link {
    margin: 0 5px;
  }
}
