@font-face {
    font-family: 'hans_kendrick';
    src: url('hanskendrick-regular-webfont.woff2') format('woff2'),
         url('hanskendrick-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background: grey;
    font-family: 'hans_kendrick';
    background: #e2e7ec;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
    max-width: 1200px;
}

.card {
    height: 540px;
    background: white;
    margin: 10px;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
}
.card__main {
    width: calc(200% / 3 - 20px);
    position: relative;
}
.card_date__main {
    position: absolute;
    bottom: 150px;
    left: 0;
}

.card_title__main {
    position: absolute;
    bottom: 50px;
    left: 0;
    color: white;
}
.card_date,
.card_title {
    margin: 20px 30px;
}
.card_date {
    color: #818181;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
}
.card_title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    /* margin-top: auto; */
}

.card_container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
}

.card_container__main{
    height: 100%;
}
.card_image {
    height: 100%;
}

.card_author {
    width: 55px;
    height: 55px;
    background: red;
    margin: 30px;
    margin-top: auto;
    border-radius: 50px;
    background: url(../img/foto.png)
}
