@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/BebasNeueBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/BebasNeueLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_regular';
    src: url('../fonts/BebasNeueRegular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/BebasNeueThin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #9789f9;
  font: 16px/53px 'Roboto', sans-serif;
}
html,
body {
    height: 100%;
}
/* Layout */
.ba-container{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    .no-flexbox & {
        height: 100%;
    }
}

.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    .no-flexbox &::before {
        display: inline-block;
        content: "";
        height: 100%;
        width: 0;
        vertical-align: middle;
     }
    &__col {
        background: #f5f4f9;
        width: 330px;
        height: 610px;
        margin: 10px;
        .no-flexbox & {
            display: inline-block;
            vertical-align: middle;
            }
    }
    &__col--center {
        width: 370px;
        height: 690px;
        text-align: center;
        position: relative;
        .button {
        background: #fd8d7b;
        }
        &::after {
        content: 'Ordernow &  get 15% Discount';
        font: 11px 'Roboto', sans-serif;
        color: #a9a9a9;
        margin-bottom: 15px;
        position: absolute;
        bottom: 0;
        left: 110px;
        }
        &::before {
        content: 'P';
        color: #a9a9a9;
        border-radius: 50%;
        background-color:  #fd8d7b;
        width: 46px;
        height: 46px;
        font: 400 24px/46px bebas_neue_regular;
        top: 20px;
        right: 20px;
        position: absolute;
        text-align: center;
        }
    }
}

.price {
    text-align: center;
    &__rate {
        margin: 30px 0 0;
        font: 60px/1 'bebas_neuelight';
        &::before {
            content: '$';
            font-size: 24px;
            vertical-align: text-top;
        }
        &::after {
            content: "/HR";
            font-size: 16px;
            vertical-align: baseline;
        }
    }
    &__position {
        text-transform: uppercase;
        font: 24px/36px 'bebas_neue_regular';
        margin: 0 0 30px;
    }
    &__body {
        position: relative;
        overflow: hidden;
        height: 400px;
        &::before {
            display: block;
            content: '';
            width: 700px;
            height: 1000px;
            background: white;
            border-radius: 50%;
            position: absolute;
            margin: 0 -176px;
        }
        &::after {
            position: absolute;
            display: block;
            content: '';
            background: no-repeat url('../item1.png');
            z-index: 3;
            width: 35px;
            height: 35px;
            margin: -310px 47%;
        }
        ul {
            padding: 90px 0 0;
            position: relative;
            z-index: 1;
            list-style: none;
            text-align: left;
            margin: 0 70px;
        }
    }
}

.button {
    text-decoration: none;
    display: block;
    width: 210px;
    //height: 55px;
    padding: 18px 0;
    border-radius: 100px;
    background: #6fcffb;
    position: relative;
    margin: 25px auto 0;
    color: white;
    font: 18px/1 'bebas_neuebold';
}

