body{
	color: #464b4f;
    background: url(../img/bg.png);
}

/* Layout */
.ba-container{
	width: 100hv;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-header_text {
	height: 60%;
    margin: 175px 0 180px
}


.ba-header {
	height: 100%;
	background: #23232e;
	padding: 80px 0 46px 0;
}

.ba-header h1{
	font: 700 80px/1 Segoe;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.ba-header div{
	font: 400 18px/1 Segoe;
	color: white;
	text-align: center;
    line-height: 30px;
}

.nav-main-logo {
	height: 20%;
}

.nav-main-logo a {
    text-align: center;
}



/*____________________________________*/

.nav-center{
    width: 45px;
    height: 45px;
    display: block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.nav-center a {
    height: 100%;
    cursor: pointer;
    display: block;
    text-align: center;
}

.triangle-down1, .triangle-down2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid  #ffffff;
}

.triangle-down1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.triangle-down2 {
    border-top: 10px solid #23232e;
    position: absolute;
    top: 0;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;
}
/*__________________________________*/


.wrapper {

}

.main {
	width: 70%;
	text-align: center;
	font: 400 30px/1 Segoe;
	margin: 40px auto;
        background: url(../img/bg.png);
}

.ba-footer {
    width: 70%;
    margin: 40px auto;
}

.ba-footer h1, .ba-footerh5 {
	text-transform: uppercase;
}

.ba-footer h1 {
	text-align: center;
    font: 700 80px/1 Segoe;
}

.ba-float-left h5 {
	font: 700 18px/42px Segoe;
}

.ba-float-left {
	width: 30%;
    margin-right: 5%;
    font: 400 18px/30px Segoe;
}

.ba-float-left:last-child {
    margin-right: 0;
}
