.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

* {
	box-sizing: border-box;
}

.wrapper {
	height: 100vh;
    background: linear-gradient(to top right, rgba(30,87,153,1) 0%, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%, rgba(221,36,118,1) 100%);
	text-align: center;
}

.wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.box {
	display: inline-block;
	width: 460px;
	height: 470px;
	background: #ffffff;
	vertical-align: middle;
	padding: 30px;
	font-size: 0;
	text-align: left;
}

.account-info {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.firstname, .lastname,
.email, .password {
	display: inline-block;
    border-radius: 3px;
    font: 14px/20px Arial, sans-serif;
    background: #f0f0f0;
    border: 0;
    color: #7a7b7f;
    margin-bottom: 16px;
    padding-left: 14px;

 }

.firstname, .lastname {
	height: 40px;
	width: 190px;
	margin-top: 20px;
}

.email, .password {
	height: 40px;
	width: 400px;
}

.firstname {
	margin-right: 20px;
}

.bottom {
	height: 50px;
	width: 400px;
	background: #ea355a;
	color: white;
	border: 0;
	box-shadow: 0 2px 0  #bd1962;
	margin-bottom: 25px;
    font: 700 18px/20px Arial, sans-serif;
}

a {
 	text-decoration: none;
 	color: #e12a6c;
 }
.title {
    font: 700 24px/20px Arial, sans-serif;
}

.text {
    font: 13px/20px Arial, sans-serif;
}
.text_below {
    font: 12px/20px Arial, sans-serif;
}
