/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display');*/

@font-face {
    font-family: 'Lato';
    src: url('../fonts/9623-webfont.woff2') format('woff2'),
         url('../fonts/9623-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/9625-webfont.woff2') format('woff2'),
         url('../fonts/9625-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair_display';
    src: url('../fonts/playfair_display_regular-webfont.woff2') format('woff2'),
         url('../fonts/playfair_display_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	height: 90vh;
	margin: 15vh;
	box-shadow: 0 0 100px #f1f1f1;
	padding: 70px;
	background: white;
	color: #171717;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1{
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	font-weight: 400;
}
.T {
	font-family: 'Playfair Display', serif;
	font-size: 110px;
	line-height: 90px; /*  ?????  */
	float: left;
	margin-right: 20px;
}
p {
	font-size: 18px;
	line-height: 34px;
}
.quotes {
	font-size: 60px;
	line-height: 40px;
	float: left;
	margin-right: 20px;
}
.italic {
	font-style: italic;
}
button{
	font-size: 18px;
	line-height: 34px;
	font-weight: 700;
	color: #eaa258;
	width: 266px;
	height: 68px;
	border: 1px solid #eaa258;
	background-color: #ffffff;
}
