@font-face {
    font-family: 'miso';
    src: url(../fonts/miso-bold-webfont.woff2) format('woff2'),
         url(../fonts/miso-bold-webfont.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'miso';
    src: url(../fonts/miso-light-webfont.woff2) format('woff2'),
         url(../fonts/miso-light-webfont.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'miso';
    src: url(../fonts/miso-regular-webfont.woff2) format('woff2'),
         url(../fonts/miso-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
.cart {
	min-height: 100vh;
	background: #fdde7e;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font: 300 20px/26px 'miso';
	flex-wrap: wrap;
	padding: 10px;
}
.price {
	font: 700 70px 'miso';
	margin-bottom: 20px;
}

.cup_name {
	font: 400 56px 'miso';
}

.cup_about {
	text-align: center;
}

.cup_cart {
	flex-basis: 360px;
	height: 440px;
	background: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border-radius: 3px;
	box-shadow: 0 3px #cab265;
	transition: all .5s;
    cursor: pointer;
    margin: 10px;
    border-size: border-box;
}

.cup_cart:hover {
	flex-basis: 365px;
	height: 500px;
}

.cup_bronze, .cup_gold, .cup_silve {
	position: relative;
}
.cup_bronze::after, .cup_gold::after, .cup_silve::after {
	position: absolute;
	content: '';
	background-image: url(../img/bean.png);
	width: 36px;
	height: 46px;
	left: 30%;
	top: 15%;
}
.cup::before {
	position: absolute;
	content: '';
	width: 50px;
	height: 45px;
	left: 28%;
	top: 0;
	margin-top: -55px;
}
.cup_bronze::before {
	background-image: url(../img/smoke_bronze.png);
}
.cup_gold::before {
	background-image: url(../img/smoke_gold.png);
}
.cup_silve::before {
	background-image: url(../img/smoke_silver.png);
}
