.field {
  	width: 400px;
  	height: 400px;
  	background: #252137;
    background:
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
    background-size: 100px 100px;
  position: relative;
}
.circle1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 6.5px;
    box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
		inset rgba(252,255,255,.7) 0 3px 8px,
		rgba(0,0,0,.8) 0 3px 8px -3px;
}
.circle2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 4px;
	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
		inset rgba(252,255,255,.7) 0 3px 8px,
		rgba(0,0,0,.8) 0 3px 8px -3px;
}
.circle3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 4px;
    box-shadow:
   		rgba(0,0,0,.6) 0 -3px 8px,
		rgba(252,255,255,.7) 0 3px 8px,
		rgba(0,0,0,.8) 0 3px 8px -3px;
}
.white {
	background: white;
}
.black {
	background: black;
}
.checkers1 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.checkers2 {
  position: absolute;
  left: 50px;
  top: 0px;
}
.checkers3 {
  position: absolute;
  left: 100px;
  top: 0px;
}
.checkers4 {
  position: absolute;
  left: 150px;
  top: 0px;
}
.checkers5 {
  position: absolute;
  left: 200px;
  top: 0px;
}
.checkers6 {
  position: absolute;
  left: 250px;
  top: 0px;
}
.checkers7 {
  position: absolute;
  left: 300px;
  top: 0px;
}
.checkers8 {
  position: absolute;
  left: 350px;
  top: 0px;
}
.checkers9 {
  position: absolute;
  left: 0px;
  top: 50px;
}
.checkers10 {
  position: absolute;
  left: 50px;
  top: 50px;
}
.checkers11 {
  position: absolute;
  left: 100px;
  top: 50px;
}
.checkers12 {
  position: absolute;
  left: 150px;
  top: 50px;
}
.checkers13 {
  position: absolute;
  left: 200px;
  top: 50px;
}
.checkers14 {
  position: absolute;
  left: 250px;
  top: 50px;
}
.checkers15 {
  position: absolute;
  left: 300px;
  top: 50px;
}
.checkers16 {
  position: absolute;
  left: 350px;
  top: 50px;
}
.checkers17 {
  position: absolute;
  left: 0px;
  top: 300px;
}
.checkers18 {
  position: absolute;
  left: 50px;
  top: 300px;
}
.checkers19 {
  position: absolute;
  left: 100px;
  top: 300px;
}
.checkers20 {
  position: absolute;
  left: 150px;
  top: 300px;
}
.checkers21 {
  position: absolute;
  left: 200px;
  top: 300px;
}
.checkers22 {
  position: absolute;
  left: 250px;
  top: 300px;
}
.checkers23 {
  position: absolute;
  left: 300px;
  top: 300px;
}
.checkers24 {
  position: absolute;
  left: 350px;
  top: 300px;
}
.checkers25 {
  position: absolute;
  left: 0px;
  top: 350px;
}
.checkers26 {
  position: absolute;
  left: 50px;
  top: 350px;
}
.checkers27 {
  position: absolute;
  left: 100px;
  top: 350px;
}
.checkers28 {
  position: absolute;
  left: 150px;
  top: 350px;
}
.checkers29 {
  position: absolute;
  left: 200px;
  top: 350px;
}
.checkers30 {
  position: absolute;
  left: 250px;
  top: 350px;
}
.checkers31 {
  position: absolute;
  left: 300px;
  top: 350px;
}
.checkers32 {
  position: absolute;
  left: 350px;
  top: 350px;
}


