@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
.body_conteiner {
	background: url(../img/bg_t.png), linear-gradient(to right, rgba(102,51,153,1) 0%,rgba(153,104,153,1) 100%);
	height: 100vh;
	position: relative;
	text-align: center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
.body_card {

    width: 752px;
    height: 437px;
    background: url(../img/bg_t.png), rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0;
}
.body_card__size-l {
    width: 780px;
    height: 408px;
}
.body_card__size-xl {
    width: 803px;
    height: 391px;
}
.card {
    background: linear-gradient(to bottom, #f4f4f4 0%, #edeaec 100%);
    width: inherit;
    height: inherit;
}
.nav-main {
    font-size: 0;
}
.header {
    padding: 50px;
}
.nav-main-link__a {
    font-size: 12.14px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}
.nav-main-logo {
    width: 20%;
    display: inline-block;
}
.nav-main-links {
    width: 80%;
    display: inline-block;
}
.nav-main-links {
    text-align: right;
}
.menu {
    display: inline-block;
    width: 25px;
    height: 16px;
    background: url(../img/btn_menu.png);
    margin-left: 20%;
}
/*______________________________________________*/

.card_image {
    display: inline-block;
    width: 502px;
    height: 412px;
    background: url(../img/bg_title.png) no-repeat 10px 40px;
    vertical-align: top;
    padding-top: 25px;
}
.previews_image {
    margin: 40px 12px 25px 12px;
}

/*_________________________________________*/

.description {
    display: inline-block;
    width: 210px;
    height: 357px;
    vertical-align: top;
    background: white;
    padding: 40px 20px;
    color: black;
    text-align: left;
}
.description_sign_new {
    font-size: 12px;
    background: #ffa60d;
    width: 43px;
    height: 26px;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.photoviewer_title {
    font-size: 24px;
    text-decoration: underline;
    font-weight: 400;
    margin: 10px 0;
}
.title_world {
    color: #5e4fff;
}
.description_name {
    display: inline-block;
    font-size: 12px;
    margin: 10px 15px 15px 0;
}
.stars {
    display: inline-block;
}
.star {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/star_black.png);
}
.star_gray {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/star_gray.png);
}
.description_priсe {
    font-size: 22px;
    margin-bottom: 27px;
}

.size_name {
    font-size: 12px;
}

.size_number {
    display: inline-block;
    margin-right: 22px;
    font-size: 22px;
}
.size_selected {
    border: 1px solid black;
    padding: 2px;
}
.button_add {
    width: 150px;
    height: 30px;
    font-size: 12px;
    background: #a200b8;
    border: 1px solid #a200b8;
    color: white;
    margin: 40px 0 5px 0;
}
.button_wishlist {
    width: 150px;
    height: 30px;
    font-size: 12px;
    border: 1px solid black;
    background: white;
}
