body{
	background-color:  #F1F1F1;
	font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 100vh;
    padding: 3rem 6rem;
    box-sizing: border-box;
    color: #C2C2C2;
}


input {
	display: inline-block;
    border: none;
    font-size: 100px;
    font-weight: bold;
    color: #ec5a62;
    background:  #F1F1F1;

}

input[type=search] {
    max-width: 90%;
    outline: none;
    color: #C2C2C2; /*почему не реагирует цвет шрифта*/
}

input[type="submit"] {
    height: 80px;
    width: 80px;
    background-size: cover;
    background-image: url(../img/favicon.png);
}

input[type="submit"]:hover {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url(../img/favicon.png);
}

section {

    display: inline-block;
    width: 300px;
    margin: 30px;
    vertical-align: top;
 }


div {
	background:  rgba(118,117,128,0.05);
    line-height: 70px;
    display: block;
    margin: 10px 10px;
    width: 100%;
    height: 70px;
    vertical-align: middle;

}


div:hover {
    background-color:  #E5E5E6;
    color: #ec5a62;
    cursor:pointer;

}

img{
	width: 50px;
	height: 50px;
	align:  middle;
	margin: 10px
	align: left; /* не работает*/
    hspace: 10px; /* не работает*/
    vspace: 10px; /* не работает*/

}

.block1 img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

a {
   text-decoration: none;
   color: #C2C2C2
}
