body {

    background: #3399CC;
    height: 96vh;
    border: 2vh solid  #2B81AC;
    margin: 0px;
    padding: 50px 200px; 
    color: white;
    font: sans-serif;
}

h1{
     font-family: 'Lucida Sans Unicode';
}

ul {
    display: block;
    list-style: none;
    text-align:  center;
    font-family: "Lucida Grande";
    font-size: 0px;
    padding: 0px;
    max-width: 1000px;
    margin:  0 auto;
    border: 2px solid white;
    background: white;  
}

li {
    display: inline-block;
    border: 3px solid white;
    font-size: 15px;
    box-sizing:border-box;
    width: 25%;
}
p{
    line-height: 15px;
}

.city1 {
    background-color: #3399CC;
}
.city2 {
    background-color: #33CCCC;
}
.city3 {
    background-color: #996699;
}
.city4 {
    background-color: #C24747;
}
.city5 {
    background-color: #E2674A;
}
.city6 {
    background-color: #FFCC66;
}
.city7 {
    background-color: #99CC99;
}
.city8 {
    background-color: #669999;
}
.city9 {
    background-color: #CC6699;
}
.city10 {
    background-color: #339966;
}
.city11 {
    background-color: #666699;
}

li p:nth-child(2n) {
    opacity: .7;
}

li:nth-child(8n+1) {
    width: 50%;
}

li:last-child{
    width: 100%;
}

ul:hover li {
    opacity: 0.5;
}
ul li:hover {
    opacity: 1;
}


