*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px/30px 'Open Sans', sans-serif;
    color: #60606e;
}
.h2 {
    font: bold 30px/48px 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.h3 {
    font: bold 24px/48px 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/* header section */
.header {
    background: linear-gradient(to top, rgba(255,255,255,.5), rgba(255,255,255,.5)), url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 0 calc((100% - 1140px) / 2); /* for fixed width 1140px */
}
.header_logo {
    padding: 30px;
}
.header_title {
    text-align: center;
    margin: 140px 0 0;
}
.header_pagename {
    font: bold 36px/48px 'Montserrat', sans-serif;
}
.header_subtitle {
    font: bold 14px/48px 'Montserrat', sans-serif;
}
/* end: header section */

/* main_column*/
.main {
    width: 1140px;
    margin: auto;
}

.main_columns {
    margin: 140px 0;
    columns: 2;
    column-gap: 30px;
}

.info_title {
    display: inline-block;
    background: linear-gradient(to top, #7beec7, #7beec7);
    background-repeat: no-repeat;
    background-size: 68px 21px;
    background-position: left bottom;
    margin-bottom: 10px;
}

.info_subtitle {
    text-transform: uppercase;
    font: bold 14px/48px 'Montserrat', sans-serif;
    margin: 5px 0;
}

/* end: main_column*/

.main_center {
    text-align: center;
    margin: 140px auto;
    width: 70%;
}

/* main_direction"*/

.direction {
    margin-bottom: 15px;
}

.main_direction {
    margin: 140px 0;
    columns: 3;
    column-gap: 30px;
}

.size_direction_header {
    font-size: 18px;
}

.direction_icon {
    display: inline-block;
    background: #7beec7;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 15px 15px 0;
    vertical-align: middle;
}

.size_direction_header {
    display: inline-block;
}

.direction_header {
    vertical-align: middle;
}

/* end: main_direction"*/

.main_people {
    text-align: center;
}

.people {
    display: inline-block;
    text-decoration: none;
    margin-right: 25px;
    margin-bottom: 20px;
}

.margin_right {
    margin-right: 0;
}

/*  footer   */

.subscribe {
    background: white;
    width: 560px;
    height: 232px;
    color: #60606e;
    padding: 10px 20px;
}

.button {
    font: bold 14px/1 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 30px;
    text-align: center;
    color: white;
    border: 0;
    background: #7beec7;
}

.button__light {
    background: white;
    color: #7beec7;
    margin: 30px 0 80px 0;
    display:inline-block;
}

.subscribe_form {
    font-size: 0;
}
.subscribe_email {
    display: inline-block;
    position: relative;
}

.subscribe_submit {
    display: inline-block;
}

.input {
    background: white;
    border: 1px solid #e5e5e5;
    font: bold 14px/1 'Montserrat', sans-serif;
    padding: 13px 30px;
    width: 375px;
}

.footer {
    columns: 2;
    background: #7beec7;
    color: white;
    padding: 50px calc((100% - 1140px) / 2);
}

.subscribe_caption {
    font-size: 16px/24px;
}

/* end: footer   */


/*
.subscribe_email::before {
    content: '';
    display: inline-block;
    background: red;
    width: 50px;
    height: 50px;
    vertical-align: top;
}
.subscribe_email::after {
    border-style: solid;
    border-width: 10px 0px 10px 10px;
    border-color: transparent red;
    width: 0;
    height: 0;
    content: '';
    left: 0;
    top: 14px;
    position: absolute;
    margin-left: 50px;
}
*/
