@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700|Raleway:700');

/*
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
 */


body {

        font: 400 22px/30px Lato, sans-serif;
  }


.header {
  	height: 100vh;
  	background: url(../img/HEROImg.jpg);
    position: relative;
  }

.nav-main {
    font-size: 0;
    padding-top: 10px;
}

.nav-main-links,
.nav-main-logo {
    display: inline-block;
}

.nav-main-logo{
  margin-left: 5%;
}

.nav-main-logo {
	margin-right: 20%;
}

.nav-main-links a {
    font: 700 13.92px/40px Lato, sans-serif;
    color: #fffffe;
    text-decoration: none;
    margin-left: 15px;
    transition: all 0.2s ease;
}

.nav-main-links a:hover {
  color: #5d9df7;
  font-size: 16px;
}

.header-creative {
  	display: inline-block;
  	width: 100%;
  	color: #fffffe;
  	text-align: center;
    margin: 1% auto;
}

.header-creative h1 {
	 text-transform: uppercase;
   font: 700 48px/60px  'Raleway', sans-serif
}

.header-creative-line {
  	background-color: white;
  	height: 2px;
  	width: 7%;
  	margin: 1% auto;
}

.nav-center a {
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top:10%;
}

/*_________________________*/

.window-two {
    height: 100vh;
    background: white;
    text-align: center;
}

.window-two__h2 {
    font: 700 35px/60px  'Raleway', sans-serif;
    text-align: center;
    margin-top: 1%;
}

.window-creative-line__black {
    background-color: black;
    height: 2px;
    width: 7%;
    margin: 2% auto;
}

.window-two__block{
  display: inline-block;
  width: 25%;
  margin: 5% 2%;
  text-align: center;
  vertical-align: top;
  height: 50%;
}

.window-two__block img {
    height: 40%;
}

.window-two__block--h3 {
    font: 400 24px/30px  Lato, sans-serif;
    text-align: center;
}

.window-two__block--p {
    font: 400 16px/30px  Lato, sans-serif;
    text-align: center;
}


/*_______________________*/


.window-three {
    height: 100vh;
    background: black url(../img/IMG.png);
    position: relative;
    color: white;
}

.window-three__content {
    display: inline-block;
    width: 50%;
    margin: 10% 5% 0 5%;
    padding: 0;

}

.window-three__img2 {
    position: absolute;
    width: 255px;
    height: 430px;
    bottom: 0px;
    right: 15%;
}

.window-three__h3 {
    font: 400 45px/80px  Lato, sans-serif;
    text-transform: uppercase;
}

.window-three__p {
    font: 300 22px/28px  Lato, sans-serif;
}

.window-three__label {
    cursor: pointer;
}

.window-three__p2 {
    display: none;
}

input:checked  ~ .window-three__p2 {
    display: block;
}

input:checked  ~ .window-three__span1 {
    display: none;
}

input:checked  ~ .window-three__span2 {
    display: block;
}

.window-three__span2 {
      display: none;
}

.window-three__span1,
.window-three__span2 {
    text-decoration: underline;
}


[type=checkbox] {
      display: none;
}

/*______________________________________*/

.window-four {
    height: 100vh;
    background: white;
    text-align: center;
}

.window-four__h2 {
    font: 700 35px/60px  'Raleway', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.window-four__blocks {
    font-size: 0px;
    margin: 10px auto;
}


.window-four__block{
  display: inline-block;
  width: 375px;
  height: 415px;
  margin: 0 15px;
  cursor: pointer;
  overflow: hidden;
}

.window-four__block11{
    position: relative;
}

.window-four__block1 {

    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font: 400 15px/40px Lato, sans-serif;
    text-transform: uppercase;
    padding: 150px 5px 75px 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.window-four__block:hover .window-four__block1{
    display: none;
}


.button__window-four {
  border: 1px solid black;
  background: white;
  width: 370px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}





/*______________________________________*/

.window-five {
    height: 100vh;
    background: url(../img/bg.jpg);
    position: relative;
    background-size: cover;
}

.social {
  text-align: center;
}

.social__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.window-five__input {
    font-size: 0;
    text-align: center;
}


.window-five__input1, .window-five__input2, .window-five__input3{
    font: 400 18px/40px Lato, sans-serif;
    background-color: transparent;
    color: white;
    font-style: italic;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    margin: 25px 5px;
}

.window-five__input1 {
    width: 300px;
}

.window-five__input2 {
    width: 300px;
}

.window-five__input3 {
    width: 605px;
}

.window-five__button {
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;

}

.button__window-five {
  border: 2px solid white;
  width: 180px;
  height: 60px;
  background-color: transparent;
  color: white;
}
