* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, rgba(75,81,83,1), rgba(33,36,40,0.9)), url(../img/bg.png) center center;
  background-size: cover;
  height: 100vh;
  padding: 34px;
  font: 400 13px 'Montserrat', sans-serif;
  color: #9eabad;
}
.card {
  width: 336px;
  background: white;
  margin: auto;
}
.card_header {
  background: #efe5aa;
  padding: 24px;
  color: #6e7f7b;
}
.card_price {
  float: right;
  font-size: 36px;
}
.card_title {
  font-size: 24px;
  margin: 0;
}
.card_subtitle {
  font-size: 18px;
}
.card_main {
  margin: 24px 24px 0 24px;
}
/*---------------------------------*/
.card_select {
  height: 42px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
/*  -webkit-appearance: none;*/
  background: transparent;
/*  position: relative;*/
/*  z-index: 2;*/
  color: #9eabad;
  font: 400 13px 'Montserrat', sans-serif;
}
.card_select__month {
  width: calc(70% - 16px);
  margin-right: 16px;
}
.card_select__year {
  width: 30%;
}
.placeholder {
  display: none;
}
.card_input {
  font-size: 14px;
  width: 100%;
  border: 1px solid  #9eabad;
  margin: 8px 0;
  height: 42px;
  padding: 16px;
}
.card_input__cvv {
  width: 100px;
}
.card_label {
  display: block;
  margin: 24px 0;
  font-size: 0;
}
.card_caption {
  font-size: 14px;
}
.card_hr {
  border-color:  #9eabad;
}
.card_tooltip {
  font-size: 12px;
  margin-left: 10px;
}
.card_button {
  margin: 24px 0 0 0;
  background: #26b168;
  color: white;
  border: 0;
  padding: 16px;
  font-size: 24px;
  width: 100%;
}

/*-----------------------------------*/
.card_footer {
  text-align: center;
  padding: 20px;
}
.card_cancel {
  color: #9eabad;
  font-size: 12px;
}

/*-------------------------------*/
// .card_select-wrap {
//   display: block;
//   position: relative;
// }
// .card_select-wrap::before,
// .card_select-wrap::after{
//   display: block;
//   position: absolute;
//   content: '';
//   border-style: solid;
//   border-width: 10px 10px 0px;
//   border-color: grey transparent;
//   right: 10px;
//   top: 16px;
//   z-index: 1;
// }
// .card_select-wrap::before {
//   margin: 2px 0;
// }
// .card_select-wrap::after {
//   border-color: white transparent;
// }

/*----------------------------*/
