
body{
    background: #eeeeee;
    color: #303030;
    font-weight: 100;
}
.wrap {
    height: 100vh;
    background: no-repeat url(../img/Group.png);
    position: relative;
    background-size: cover;
}
.Rounded {
    background: #111a28;
    width: 685px;
    height: 390px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0;
}
.logo {
    padding-left: 20px;
    padding-top: 20px;
}
.product {
    display: inline-block;
    width: 445px;
    height: 390px;
    vertical-align: top;
}
.product__img {
    width: 290px;
    vertical-align: top;
    padding: 75px 60px 25px 30px;
}
.product__dots {
    text-align: center;
    margin-top: 35px;
    line-height: 15px;
}
.product__dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.product__dot1 {
    background: #1f273f;
    border: 2px solid white;
    width: 15px;
    height: 15px;
}
.product__dot2 {
    background: white;
}
.product__dot3 {
    background: #ed3333;
}
.product__dot4 {
        background: #29e3ea;
}
.product__description {
    display: inline-block;
    width: 240px;
    height: 390px;
    vertical-align: top;
    font-size: 14px;
    color: #5d626b;
}
.product__title {
    color: #adafb3;
    margin: 80px 0 15px 0;
    font-weight: 100;
    font-size: 24px;
}
.product_star {
    background: no-repeat url(../img/stars.png);
    height: 15px;
    margin: 20px 0 20px 0;
}
.button_add {
    width: 182px;
    height: 38px;
    background: #202835;
    margin-top: 30px;
    border: 1px solid  #4f5560;
}
.botton_text {
    font: 14px/18px;
}
.botton__select {
    font-size: 14px;
    background: url('../img/Rectangle.png') no-repeat right 5px top 10px;
    padding: 5px 10px;
    width: 71px;
    height: 32px;
    border: 1px solid  #4f5560;
    cursor: pointer;
}

