.field {
  	width: 400px;
  	height: 400px;
  	background: #252137;
    background:
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
    background-size: 100px 100px;
}
.circle1 {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 6.5px;
    box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
		inset rgba(252,255,255,.7) 0 3px 8px,
		rgba(0,0,0,.8) 0 3px 8px -3px;
}
.circle2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 4px;
	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
		inset rgba(252,255,255,.7) 0 3px 8px,
		rgba(0,0,0,.8) 0 3px 8px -3px;
}
.circle3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 4px;
    box-shadow:
   		rgba(0,0,0,.6) 0 -3px 8px,
		rgba(252,255,255,.7) 0 3px 8px,
		rgba(0,0,0,.8) 0 3px 8px -3px;
}
.white {
	background: white;
}
.black {
	background: black;
}
.black_checkers {
	padding-top: 300px;
}
